/* https://coolors.co/app/631d76-9e4770-fbfbfb-2e2532-201a23 */

@keyframes logo {
  100% { transform: scale(1.20); opacity: 1; }
}

html {
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}

body {
  background-color: #FBFBFB;
}

section {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

p.description {
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
}

a.href {
}

img.logo {
  width: 360px;
  height: 360px;
  opacity: 0.05;
  animation: logo 3.5s forwards;
}
