body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  max-width: 960px;
  min-width: 360px;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
}

@keyframes appear {
  100% {
    height: 12em;
    opacity: 1.0;
  }
}

header {
  width: 100%;
  height: 800px;
  background-color: #00100B;
}

header > img {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  opacity: 0.05;
  animation: appear 3.5s forwards;
  height: 1.5em;
}

header > h1 {
  position: relative;
  top: 2em;
  left: 2em;
  color: #FBFBFB;
  font-size: 32px;
  line-height: 36px;
}

header > h1 > a {
  color: #FBFBFB;
  opacity: 0;
  animation: appear 2.0s forwards;
}

header > h1 > a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

section {
  width: 100%;
}

section > article {
  padding: 50px 50px 50px 50px;
}

section article p {
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  vertical-align: text-top;
}

section > article > div.description {
  display: inline-block;
  max-width: 580px;
  min-width: 360px;
  padding-top: 50px;
}

section > article > h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 5px;
}

section > article > figure {
  float: left;
  display: inline-block;
  width: 240px;
  padding-right: 25px;
}

figure.showcase > img {
  width: 100%;
}

b { font-weight: 500; }
i { font-style: italic; }
